<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<base href="/">
<title>PhotoViewer</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
[% content | raw %]
</body>
</html>
